.loading{
    width: 200px;
    height: 200px;
    border:1px red solid;
    position: relative;
  }
  
  .loading::before,.loading::after{
    content:'';
    position: absolute;
    background: black;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    animation: s 1.2s linear infinite;
  }
  .loading::after{
    animation-delay: 0.6s;
  }
  
  @keyframes s{
    0%{
      width: 0;
      height: 0;
      opacity: 0.7;
    }
    100%{
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }